[2019-11-12 12:31] Dule95D opened #4 "Updating EPG"
Hello! Just want to say, thank you for this great library. I'm forced to ask help here, because I have tried everything and no luck with this one. I have modified a little library and added function which will update row by row and that is working fine, but problem is that when update is finished, timeline is scrolled at the beginning. I will show you my code:

[code]

Also I have tried to comment

[2019-11-12 13:00] dzolnai commented on #4
Hi! First of all, thanks for using the library.

It is kind of hard to determine where it goes wrong, would you be able to push an example somewhere, in which this can be reproduced?

If not, I would put a breakpoint in `ProgramGuideFragment::onHorizontalScrolled()`. That is triggered when it scrolls anywhere. Maybe you can see then in the call stack what triggers it.

[2019-11-12 13:05] Dule95D commented on #4
Hi @dzolnai, thank you for quick response! I will try to debug there and see what happens. Thanks anyway, Will let you know what I have discovered.

[2019-11-13 10:11] Dule95D commented on #4
Hi @dzolnai! Solved it now, but another problem appeared. Scroll doesn't move when new data is loaded, but when I try to go left, scroll won't move with focus on left. To fix it I need to go move right and then it will work and I will see cards which were behind. After new data loaded again, the same will happen.

[2019-11-13 10:17] dzolnai commented on #4
Hi, good to hear that the original issue has been solved :)
I think the issue is that focus has jumped to another view on the screen (such as the focus catcher), and it does not jump back on the RecyclerView.
If you enable 'Show layout bounds' in developer settings of the TV, you can see the current focus, because there is a blue X on it. Maybe that helps you seeing who has taken the focus.
In `Pr

[2019-11-13 10:37] Dule95D commented on #4
Hi @dzolnai, thanks again for being so quick! Maybe I didn't explain exactly what is the problem. Focus stay inside recyclerview and which is great, stay on the same card and the time is for example 13:00 and you have some shows behind and in future. If you go in future, focus will move on right and the card will be centered always, but if you go behind the scroll won't move and you will not see t

[2019-11-13 11:22] dzolnai commented on #4
Hi, if you could make a recording, that would be great!

[2019-11-13 11:36] Dule95D commented on #4
https://streamable.com/fzqas

You will see at bottom progress (waiting for new data). After new data is added, I try to move right and then scroll go at the beginning. It would happen also if I try to move left. The scroll will go at the beginning.

[2019-11-13 11:42] dzolnai commented on #4
I think the problem is in `onTimeRangeUpdated`.
You need to wrap the whole ` if (!programGuideGrid.hasFocus()) { ... }` part also in the `if (!update) { }` block. Because now we disable focus until the scrolling has completed. But since you don't scroll on update, it will be in weird state. Can you check if that solves it?

[2019-11-13 12:00] Dule95D commented on #4
No, still the same issue. I have recorded one more video where you can see that you can go left, but when you go further you will not see the focus (that is not shown in video). But if you move right, the scroll will nevertheless move to left at 0 position.

https://streamable.com/d2qs2

[2019-11-13 12:03] dzolnai commented on #4
Could you make a video where you have show layout bounds enabled please? Maybe that will shed some light onto what's going on.

[2019-11-13 12:19] Dule95D commented on #4
https://streamable.com/x2jvg

Here I'm moving to left until i move to right the scroll won't go left

[2019-11-13 13:41] Dule95D commented on #4
Hi @dzolnai! Fixed it! I have commented in update function this method `updateChannelsTimeRange`

[2019-11-13 13:41] #4 closed

[2019-11-13 14:10] dzolnai commented on #4
Good to hear, I was already running out of ideas :) 👍

[2019-12-23 20:52] Dule95D opened #8 "Extend progress for past shows"
Hello,

Is it possible to extend progress to shows which are in past? Currently you can see progress on current shows, but I would like to make progress visible also on shows which are in past.

[2019-12-24 07:58] dzolnai commented on #8
Hi, here's a patch file with the required changes to do that.
You can apply this on the master branch of the repo to see the changes in the demo immediately (use `git apply progress-past-shows.patch`).

The idea is that you supply a progress via the schedule, which you then set on the item in the view, and do not care about the live time.

Let me know if something is not clear, or if it does not w

[2019-12-24 09:06] Dule95D commented on #8
Hi @dzolnai,

That helped a lot. Thank you very much!

[2019-12-24 09:06] #8 closed

[2020-02-09 07:34] meankit1990 opened #9 "Program Guide Grid not getting focused"
Hi,

I found the issue when I am trying to change date to 3-4 days after the current date. I am not able to focus the Programs grid. And after switching amount dates sometime I am not even able to focus the program guide of current date as well.

I am using Xiaomi MIBOX3 with Android 9.

[2020-02-09 07:35] dzolnai commented on #9
Hi, is this reproducible in the demo project?

[2020-02-09 07:39] meankit1990 commented on #9
Yes this is reproducible in demo project as well

On Sun, Feb 9, 2020 at 1:05 PM Dániel Zolnai <notifications@github.com>
wrote:

--
*Thanks and Regards.*

Ankit Kumar Jain
+91 85888-18162

[2020-02-09 10:32] meankit1990 commented on #9
Hi dzolnai,

Were you able to reproduce the issue?

[2020-02-10 08:43] dzolnai commented on #9
Hi, yes I am able to reproduce it. I'll try to fix it today or tomorrow.

[2020-02-10 14:55] #9 closed

[2020-02-10 14:56] dzolnai commented on #9
I've pushed a fix, so it should now work as expected. Let me know if you see anything still misbehaving!

[2020-02-10 15:27] meankit1990 commented on #9
Thanks a lot Dániel for the amazing library. I'll check the fix and will
let you know ASAP

On Mon, Feb 10, 2020, 8:26 PM Dániel Zolnai <notifications@github.com>
wrote:

[2020-02-16 10:35] meankit1990 commented on #9
Hi dzolnai,

This fix is working amazingly. Thanks a lot for the amazing library.

I have one more question. if you could help.

 I want in EPG the focus should not move only the grid should move when I Scroll Horizonatally through EPG Grid. Is it possible to do that kind of customization.

This would be a great help.

[2020-02-17 07:47] dzolnai commented on #9
@meankit1990: Sorry, I'm not sure if I understand your last question.

When you scroll horizontally through the grid, you don't want the focus to move?

But how do you select an item then?

Can you maybe give an example app, video or even drawing?

[2020-02-17 07:56] meankit1990 commented on #9
please checkout the video of an existing app which is doing what I am trying to do in the following link.

https://drive.google.com/open?id=19DsR_ix8TCCrHk0ZmwcB40BaRpI144KP

[2020-02-17 08:05] dzolnai commented on #9
I see what you mean. So if an item is really long, you can scroll the time only, but keeping the same item selected.
Currently the library does not support such scrolling.
In the the coming weeks I do not have the time to expand the library with this, so you'll have to do it yourself. I would start by investigating the code in ProgramGuideRowGridView.focusSearch(). You would have to check how much

[2020-02-17 08:09] meankit1990 commented on #9
Thanks a lot @dzolnai . I will try to do it myself with the guidance you have provided.

[2020-06-05 06:55] khushbuThakker opened #11 "Facing issue related Timeline and program syncing"
Hello,
I am facing the issue when setting the time in timeline row from 12:00 AM to the end of the day at 23.59PM.
Could anyone please suggest how to do this?

as I already changed the parameter of "
        private const val DAY_STARTS_AT_HOUR = 1
        private const val DAY_ENDS_NEXT_DAY_AT_HOUR = 2" in "ProgramGuideManager" file but no effect reflection is visible.

I have added my live data

[2020-06-05 06:59] dzolnai commented on #11
Hi!

What do you mean specifically with 12AM? Let's use the 24 hour format :)
Do you want your day to start at 0:00 and end at 24:00?
Or at 12:00 (noon) until the next day at 12:00?

Also make sure that all timezones are in sync, that can lead to hour differences.

[2020-06-05 07:02] khushbuThakker commented on #11
Yes, the meaning is 0 to the next 23 hours but when I set this still the timeline starting from 5

[2020-06-05 07:18] dzolnai commented on #11
In that case you should use the following settings:

[code]
If you want to test it in the test EpgFragment, you also should change the min channel time.
[code]

[2020-06-05 09:16] khushbuThakker commented on #11
Hello @dzolnai ,
I have tried the above solution  and setup this :
private const Val DAY_STARTS_AT_HOUR = 0
private const Val DAY_ENDS_NEXT_DAY_AT_HOUR = 0
but still not start from 0 hours.

Because of this timeline, my dynamic program not syncing with the time.

[2020-06-05 09:21] dzolnai commented on #11
Please note that it will not start at 0 hours if any of your programs do not start then.
So let's say the first program start at 04:30. You will not be able to scroll then before 04:30 in that case, because there is "nothing to see there". Is this perhaps the case?
If not, can you post a screenshot here of the state when you are fully scrolled to the left?

[2020-06-06 09:26] khushbuThakker commented on #11
Hello @dzolnai ,

Here, I am sharing you screenshot of with the real data from our backend, In that program -1 ->  start from	"program_start": "2020-06-06 00:26:52",
 	"program_end": "2020-06-06 01:29:57""

![SCREENN](https://user-images.githubusercontent.com/18696361/83941065-eb0caa00-a805-11ea-8321-c97e0d1f4ebb.png)

[2020-06-06 09:38] meankit1990 commented on #11
Hi Khushbu,

I guess you are trying to add data as per IST and the EPG Guide works on UTC Time. As you can see the timeline which is created for you is UTC+530.

You can resolve your problem with Setting up the timezone.

[2020-06-06 10:00] khushbuThakker commented on #11
Hi @meankit1990 ,
I already converted all the UTC time zone into the locale time zone. The issue is not based on timezone I think because I tried this with static data also but it's not working.

[2020-06-06 10:36] meankit1990 commented on #11
Hi,

I thought that could be the problem. When I implemented this library I faced the same issue and reason was due to this timezone conversion. Its working completely fine for me now.

I am not sure that what could be the problem in your case.

[2020-06-08 07:07] dzolnai commented on #11
Hi @khushbuThakker,

First of all, the library is only supposed to work on Android TV, and you are testing on a mobile device. I can not guarantee that it will work there.
So you said that the `demo` app does also not work for you? What is the earliest time you can scroll to? Can you send a screenshot of that too? Make sure you have no changes in your code.
What timezone does the device have?

[2020-06-08 12:59] teamandroidsudo commented on #11
Hello @dzolnai ,
Yes, I am trying to integrate this demo in my application but the problem is start timing in my channel is 12:00 AM and the end time is 23:00PM and in that channel, I have multiple programs where the length of the program is minimum 5 minutes.

So after you suggest me to change below parameter, I changed it in my code:
private const val DAY_STARTS_AT_HOUR = 0
private const val DAY

[2020-06-08 13:03] khushbuThakker commented on #11
Hello @dzolnai ,
Yes, I am trying to integrate this demo in my application but the problem is start timing in my channel is 12:00 AM and the end time is 23:00 PM and in that channel, I have multiple programs where the length of the program is minimum 5 minutes.

So after you suggest me to change below parameter, I changed it in my code:
private const val DAY_STARTS_AT_HOUR = 0
private const val DA

[2020-06-08 13:16] dzolnai commented on #11
The screenshot you attached is not of the demo.
I think that maybe you changed something else which might have broken the code.
Can you perhaps send me the source code?

[2020-06-08 13:24] khushbuThakker commented on #11
Hello @dzolnai ,
I only passing my API response in this demo instead of static data which was in the library.
Is there any other way we could connect? because I am not allowed to share the source could as I integrated this demo in my project so.
It would be great if we can connect via twitter handler so I can show you what is changed in my code.

[2020-06-08 13:42] dzolnai commented on #11
Feel free to send an email to daniel@egeniq.com
Maybe there is a way you could not use the API but some fake data where it still happens so you can share it with me?

[2020-06-09 09:42] khushbuThakker commented on #11
Hello @dzolnai ,
The issue is about timezone conversion. Not with the library.
I am closing this issue.
Thank you the help

[2020-06-09 09:42] #11 closed

[2020-06-09 09:51] dzolnai commented on #11
Okay, great that you have finally found the culprit!
If you have any other problems with the usage of the library, feel free to open a new issue.

[2020-06-09 11:20] meankit1990 commented on #11
@khushbuThakker  I told you so :)

[2020-07-01 13:10] AndroidVersion opened #12 "Show list is in random format."
Hii,

First of all thanks for this amazing library. It works well. Currently, I am using this library & facing an issue in channel view that all the channels listed well. But the shows which are listed horizontally in a particular channel are in random format. I tried to check the function in the collection class as well as I tried to set a loop inside the while-loop which maps the channel with sh

[2020-07-01 13:13] dzolnai commented on #12
Hi, the shows inside the channels are mapped by their start and end time, from left to right. Overlaps are not allowed, and will be cut off.
Maybe your IDs are not unique?
If you can make a sample somewhere, I can check it out.

[2020-07-01 13:36] AndroidVersion commented on #12
If possible can just run this current library code. As making a sample takes time & the issue which I am facing will be easily understandable by just running this code.
Steps:-
1.) Open the file "EpgFragment.kt"
2.) Here in this file you can see that there is an Arraylist of showNames of string which contains the static list of shows.
3.) Now simply run the app & the screen shows you the channels

[2020-07-01 13:38] dzolnai commented on #12
Yes the shows displayed are random, because they are for test purposes. You should construct your own data using non-random sources, like an API.

[2020-07-01 13:40] AndroidVersion commented on #12
Yes sir, I set an api in my code but at this point
"" val schedule = createSchedule(channel, showNames.random(), nextTime, endTime)"
 I am not able to set the names of shows.

[2020-07-01 13:42] dzolnai commented on #12
instead of `showNames.random()`, you should use `APIdata.showName`, for example.

[2020-07-01 14:02] AndroidVersion commented on #12
Ok. I will try to set the showName from api again and inform you after this.

[2020-07-07 07:44] dzolnai commented on #12
I am closing this issue because of inactivity. If you have further questions or have found a bug, reopen this issue or create a new one.

[2020-07-07 07:44] #12 closed

[2020-08-06 12:14] AnandRabari opened #13 ""Jump To Live" & individual scrolling."
Hii there,

All thanks for this awesome library. The library is for a best use for tv program, but it is also working in mobile device for channel view. Now the issue,

1.) I am facing the issue is whenever I do a horizontal scroll to shows of any individual channel then it will scroll that particular channel and not scrolling whole gridview. Now I want to make a scroll to whole gridview even if I

[2020-08-06 12:55] dzolnai commented on #13
Hi!

First of all, thanks for using the library :)

Do you experience both issues on a mobile (non-TV) device?

[2020-08-06 13:03] AnandRabari commented on #13
Yes, I have faced both issues on mobile(non-TV) device. Also, if we connect mouse to tv and just try to do same then we face both issues in tv also.

[2020-08-10 05:38] NikhilUsadadiya commented on #13
Hello,

I also faced both this issue in mobile device. This works quite well in TV when we scroll or operate with remote but this not works well in mobile using touch scroll.

[2020-08-10 10:37] dzolnai commented on #13
I'll try to fix this during the week, will come back to you if I have something ready.

[2020-08-12 19:46] TagorePde opened #14 "Open specific channel position"
Hello, I want to go to a specific channel when EPG fragment is opened (scroll to that channel), how can I achieve this?
Regards.

[2020-08-13 05:57] dzolnai commented on #13
Hi @AnandRabari and @NikhilUsadadiya,

I have checked your reports and I indeed see the same behaviour.
However, I don't see an easy solution for fixing these.
The library was built with keyboard navigation in mind, which is the default on Android TV, used almost exclusively.
The navigation part of the code is fully taken from the original source code, so the experts at Google have built it like t

[2020-08-13 05:57] #13 closed

[2020-08-13 06:02] dzolnai commented on #14
Hi, you can use the `scrollToChannelWithId(channelId)` method for that.

Example (in your own EpgFragment.kt):

    override fun onViewCreated(view: View, savedInstanceState: Bundle?) {
        super.onViewCreated(view, savedInstanceState)
        programGuideGrid.addOnChildAttachStateChangeListener(object : RecyclerView.OnChildAttachStateChangeListener {
            override fun onChildViewDetach

[2020-08-13 06:11] NikhilUsadadiya commented on #13
Ok. Let's try to resolve this. But can you help me to figure out that is there any particular method to scroll a row in recycler or smoothscroll is working for it?  @dzolnai

[2020-08-13 06:36] dzolnai commented on #13
Well this is how it works currently:

When you go left or right, it will trigger the `focusSearch` method of `ProgramGuideRowGridView`.
In that method, it checks if the row should be scrolled or not. If yes, it will call the `scrollByTime()` method.
That will call the `shiftTime` method of `ProgramGuideManager`, which will do a callback to the fragment (`onTimeRangeUpdated`).
That will scroll the

[2020-08-13 18:01] TagorePde commented on #14
Hi, thanks for your answer, I tested and works, but when I use scrollToChannelWithId it is scrolled OK, but, how can I select an specific channel? it is not selected.

Best Regards

[2020-08-13 21:21] #14 closed

[2020-08-14 05:27] NikhilUsadadiya commented on #13
Okk let me check it once. Thanks for the guidance @dzolnai

[2020-08-20 04:51] theapache64 opened #15 "Scrolling in RTL mode not working properly"
- :eye: [rtl_issue.mp4](https://drive.google.com/file/d/17CZA_C85eb9gRdCKvK9oIirZPUTis-BI/view?usp=sharing)

## Steps to Reproduce

- Clone repo
- Go to developer option and turn on `Force RTL`
- Run the project

Can you guys tell me how can I fix this issue?

[2020-08-20 08:03] NikhilUsadadiya opened #16 "Programs overlays under channel rows."
Hello Daniel,

After resolving the previous issues for mobile device with your guidance. I encountered with an another issue.
Here, when we scroll programs from right to left then it works perfect but they are still visible or go through channel row.

Image:- https://raw.githubusercontent.com/egeniq/android-tv-program-guide/master/documentation/demo_overview.png
Video:- https://raw.githubuserconte

[2020-08-21 05:14] theapache64 commented on #15
Gentle Reminder  :bell:

[2020-08-21 05:21] dzolnai commented on #15
Hi! I'm currently on vacation, I can have a look on Monday.

[2020-08-21 06:04] theapache64 commented on #15
Alright :smiley: Thanks man

[2020-08-24 15:54] dzolnai commented on #16
Hi Nikhil,

The linked video and image are from the documentation.
Can you add some more context?
Does this only happen in RTL mode?
With the channel row, you mean the column on the left with the channel icons and the names?
Can you perhaps give me an image where I can see what is wrong?

Cheers,
Daniel

[2020-08-24 15:58] dzolnai commented on #15
I see the issue, it will probably require multiple smaller fixes through the code.
I assume that in RTL mode, the timeline and channel column should look exactly the same as in non-RTL mode. Only the text in the program blocks should start on the right side instead of left.
And maybe for the detail view, the image should be on the right side, and the text labels to the left of it.
Let me know if y

[2020-08-25 05:13] NikhilUsadadiya commented on #16
Hii,

Here I am attaching 2 images with highlight. As main issue is the cell of programs are going or passes under the channel view and if we are clicking on channel icon then also the program which is scrolled below it gets clicked. I am trying to update the channel cell UI so may it gets work. Have a look on it.

[https://drive.google.com/file/d/1l0HJf4VkzjEDGUVgi10uBeoD81ONAfi5/view?usp=sharing

[2020-08-25 07:46] anoopmaddasseri commented on #15
Hey @dzolnai, Thank you for the quick response. I appreciate it. 👍

I believe the RTL layout direction works perfectly as you can see in the attached video. The major issue I observe is with scrolling and focus, The program blocks don't scroll properly when traverses through the program's ( focus-walk ) in RTL. I believe Text RTL support we can address replacing the "**left/right**" layout propert

[2020-08-28 10:35] anoopmaddasseri commented on #15
Hello @dzolnai, Gentle Reminder 🔔

[2020-08-28 14:24] VikramGangaraju opened #17 "Android-tv-program-guide in Java"
Hi Dániel Zolnai,

Is Android TV Program Guide Project available in Java language...???

[2020-09-03 08:28] #17 closed

[2020-09-03 12:25] dzolnai commented on #15
Hello @anoopmaddasseri, @theapache64, @sathyajithrdev,

I've just pushed a commit to this repo, fixing the RTL issues, mainly with focus and navigation.
From what I've read, timelines should not be reverted in RTL mode, so I kept the original timeline there.
That means that the grid below and the channel view are also in the original layout (LTR).
The detail view below the grid, and the toggles ab

[2020-09-03 12:26] dzolnai commented on #16
Hi @NikhilUsadadiya, is this fixed with the latest commit (RTL fixes)?

[2020-09-03 12:49] anoopmaddasseri commented on #15
@dzolnai Great work, thank you for the support. I'll check and get back to you. 👍 💯

[2020-09-03 13:03] anoopmaddasseri commented on #15
Hi @dzolnai,  Could you please provide some references for finding ☝️?

[2020-09-03 13:08] dzolnai commented on #15
[See this Apple developer page](https://developer.apple.com/library/archive/documentation/MacOSX/Conceptual/BPInternational/SupportingRight-To-LeftLanguages/SupportingRight-To-LeftLanguages.html).
Relevant sentences:

[2020-09-03 14:22] anoopmaddasseri commented on #15
@dzolnai I have verified the behavior of [Google Live Channels App](https://play.google.com/store/apps/details?id=com.google.android.tv&hl=en_IN) from play store. Timeline indicators stay in the original layout (LTR). The channel list flips in right-to-left. Please find the attachment for your reference. Also attaching the screenshot from [Saudi Arabia OSN™](https://www.osn.com/ar-sa/watch/tv-sche

[2020-09-03 14:37] anoopmaddasseri commented on #15
@dzolnai My bad. updated the observation, Please check 👉 - https://github.com/egeniq/android-tv-program-guide/issues/15#issuecomment-686526530. Thanks.

[2020-09-03 14:42] dzolnai commented on #15
That means that we should flip them as well? :)

[2020-09-03 15:08] anoopmaddasseri commented on #15
Indeed, IMO. 🙂

[2020-09-04 02:42] theapache64 commented on #15
@dzolnai Since we haven't fully fixed this issue, can you pls reopen this thread?

[2020-09-04 14:57] dzolnai commented on #15
Update: I was busy today with making RTL scrolling work.
I have scrolling working, there are still some minor polishing things missing. Hopefully I can push the fix on Monday.

[2020-09-05 04:16] anoopmaddasseri commented on #15
Awesome, Thanks for the update @dzolnai, Looking forwards. 👍

[2020-09-07 07:26] dzolnai commented on #15
@anoopmaddasseri I have just pushed the commit with the fix. Please reopen if you see any issues.

[2020-09-07 07:26] #15 closed

[2020-09-08 05:18] NikhilUsadadiya commented on #16
Let me check it once and I will update you soon.

[2020-09-09 04:35] anoopmaddasseri commented on #15
Excellent stuff @dzolnai. Keep Up the Good Work, Terrific! 🥇 💯

[2020-09-09 12:24] langaliamayank opened #18 "Code Available in Java"
Hi. My dear friend,

I am trying to convert kotlin to java.
Do you have same code in java (android) platform?

From last 1-2 month i am searching for the same but still not getting any proper solution.
Stuck totally. Please help me for the same. If you have any idea pls share with me,
mayanklangalia@gmail.com

[2020-09-09 12:28] dzolnai commented on #18
Hello Mayank,

Sorry the code is only available in Kotlin. But porting it to Java shouldn't be too complicated.

[2020-09-09 12:47] MayankSoni commented on #18
Hello dzolnai,

Is it possible only EPGFragment convert into java. library remain kotlin.

[2020-09-09 12:52] dzolnai commented on #18
Yes, but what would be the benefit?
Either way, you need to include the Kotlin library in your app.

[2020-09-09 12:57] MayankSoni commented on #18
Dear Dániel Zolnai,

I want to implement live API but having some timeslot issue. i dont know how to achieve this.
could you please help me for the same.

    "programstart": "09/09/2020 03:00:00",
    "programend": "09/09/2020 06:00:00",

I want to set dynamic time. instead of random time.
24 hours getting data from API.

[2020-09-09 13:11] dzolnai commented on #18
You should parse the dates using `DateTimeFormatter.ofPattern("<your pattern>")` which will give you a `ZonedDateTime`.
Then you can get the `epochMillis` of that datetime to set the required values.

[2020-09-09 14:02] MayankSoni commented on #18
channels.forEach { channel ->
                val scheduleList = mutableListOf<ProgramGuideSchedule<SimpleProgram>>()
                var nextTime = randomTimeBetween(MIN_CHANNEL_START_TIME, MAX_CHANNEL_START_TIME)
                while (nextTime.isBefore(MIN_CHANNEL_END_TIME)) {
                    val endTime = ZonedDateTime.ofInstant(Instant.ofEpochSecond(nextTime.toEpochSecond() + Random.nextL

[2020-09-09 14:17] dzolnai commented on #18
Hello Mayan,

I will gladly fix issues which are related to the library itself, but I don't have the time to fix everyone's code.
If you have questions about the workings of the library, I can answer those.

[2020-09-09 14:31] MayankSoni commented on #18
Ok actually getting this error : kotlin.UninitializedPropertyAccessException: lateinit property programGuideManager has not been initialized

[2020-09-10 07:31] dzolnai commented on #18
That means that you have not set the programGuideManager in your fragment

[2020-09-14 13:06] dzolnai commented on #16
Closing because of inactivity.

[2020-09-14 13:06] #16 closed

[2020-09-14 13:07] dzolnai commented on #18
Closing because of inactivity.

[2020-09-14 13:07] #18 closed

[2020-09-24 09:18] meankit1990 opened #19 "Possibility of lazy loading"
Hi,

Thanks for this amazing library. It works perfect for me. I just needed to check that if there is any possibility that we can load data on scroll rather than we just all the EPG data at once.

My current scenarios is that I need to load epg for Next 7 days but that takes a lot of time to populate. So Can you please help me with that how can I load the epg day by day as soon as that's availabl

[2020-09-24 10:01] dzolnai commented on #19
Hi Ankit,

You should only load one day's worth of data into the library when the fragment calls `requestingProgramGuideFor(date)`
You make a request for that single day then, and load it into the grid.

See the method here: https://github.com/egeniq/android-tv-program-guide/blob/6e59051ea9ad45e027a6f888f78e590a40f91096/demo/src/main/java/com/egeniq/programguide/EpgFragment.kt#L92

[2020-09-24 10:13] meankit1990 commented on #19
That's what I am already doing... What if I need to load more than a day's data in the epg one after another. So that I can scroll though next days as well without changing the date/day from the dropdown.

[2020-09-24 10:23] dzolnai commented on #19
I'm sorry but that's not supported. You could extend the hours which should work, maybe you need a few modifications here and there. But it will not load the items lazily for you.

[2020-09-24 10:27] meankit1990 commented on #19
Yeah extending the hours are working fine for me... Like if I load all 7 days data at once than there is no issues... Its just when loading the data one after another is not happening.

[2020-09-24 10:35] dzolnai commented on #19
There's no support for that in the library, it would be quite complicated to extend it as well. Feel free to try it though, PRs are always welcome :)

[2020-09-24 10:37] meankit1990 commented on #19
Sure.... I'll try and will send a PR if that works for me :)

[2020-09-24 10:37] #19 closed

[2020-09-29 05:48] NikhilUsadadiya opened #20 "Dynamic channel selector."
Hello Daniel,

Again I am here to bother you :) Here I want to know that is there any way to highlight the channel block.
Explanation:- When we navigate the shows using remote it will highlight it and informs the user that at which show the cursor or remote controller is. Same ways if we scroll vertically then again the remote controller movement and selected shows highlighted. Now during vertical

[2020-09-29 09:58] dzolnai commented on #20
Hi,

I've pushed a commit which enabled this feature.
Please reopen if you see any issues with it.

Cheers,
Daniel

[2020-09-29 09:58] #20 closed

[2020-09-29 10:24] NikhilUsadadiya commented on #20
Hii,

Its working in your latest push. Can you tell me in which classes did you make changes?

Regards,
Nikhil

[2020-09-29 11:34] dzolnai commented on #20
Hi, just check the latest commit.

[2020-09-29 12:25] NikhilUsadadiya commented on #20
Yeah, I got the changes. Thanks Daniel.

[2020-10-09 06:43] NikhilUsadadiya commented on #13
Hey @dzolnai
Among the above 2 issues, I resolved one of them. "Jump To Live" issue for mobile device is resolved and tested well in my code but I didn't get any way for the second one. Can you just guide me, like from where the whole gridview is scrolling horizontally when we scroll timerow horizontally? I make changes in ProgramGuideFragment.kt but failed. If possible, guide me for this in your

[2020-10-09 06:54] dzolnai commented on #13
Hi,

So when you go left or right in one of the rows with the keyboard, it will call `ProgramGuideRowGridView.focusSearch()`.
That will determine if it just needs to jump to the next focused view, or it also needs to scroll the whole view.
If that has to be done, it will call `scrollByTime()` with a delta time change (+ for forward, - for backward). Scroll by time will then shift the time on the m

[2020-10-09 07:42] NikhilUsadadiya commented on #13
Okk. I will check this flow & try to make it resolve for the mobile device. Thanks.

[2020-10-15 04:39] joecizac commented on #19
First of all, thank you a ton @dzolnai for this brilliant library. :heart:
@meankit1990 basically you want to apply pagination to the EPG right? Meaning gracefully fetching the next smaller chunk of data from the API when you near the end of scroll instead of pre-fetching all data which is heavy. I am facing the same dilemma.
Any luck though? :worried:

[2020-10-16 15:01] meankit1990 commented on #19
@joecizac I couldn't do it that gracefully but was able to load data day by day. But on each day load focus just goes to first event.

[2020-10-16 17:10] joecizac commented on #19
Got it :+1:
I will update if I come up with some changes for the EPG to support pagination :wink:

[2020-11-03 09:36] maketvgithub opened #21 "IndexOutOfBoundsException"
Hello again,

We are getting some crashes on Firebase, so I was wondering if someone else also got this error. Below is the log from Firebase:

[code]

[2020-11-03 11:35] dzolnai commented on #21
Interesting. What are the crash rates?
Is it perhaps limited to a specific Android version or device (manufacturer)?

Were you able to reproduce it yourself?

[2020-11-03 14:32] maketvgithub commented on #21
I was not able to reproduce it myself, but some of testers could.

It is limited to a specific Android version. It is 6.0.1 and device is some AOSP STB Device (G9SX)

[2020-11-03 14:35] dzolnai commented on #21
Can you explain what the flow is when it crashes? Does it happen immediately when opening the guide? Or do you need to come back to it? Or does it happen when scrolling, etc.

[2020-11-03 14:38] maketvgithub commented on #21
It happens when date is changed.

[2020-11-05 18:41] maketvgithub commented on #21
Solved it. I'm closing this issue.

[2020-11-05 18:41] #21 closed

[2020-11-05 18:54] dzolnai commented on #21
If the issue was in our codebase, please let us know how you fixed it, so we can include it 😃

[2020-11-06 20:03] Matador2020 opened #22 "play stream onScheduleSelected"
_Thank you for your great work, the guide is excellent._

I want to know if it possible to display the stream instead of the image at the bottom of the screen on the left onScheduleSelected ?
is there a way to do it?

[2020-11-06 20:20] meankit1990 commented on #22
@Matador2020  Yes you can... I have modified this library as per my on convenience. All you need to do is create your on player and change the stream onScheduleSelected. Just you need to check that it should be changed when you change the row (Channel) not the Column(Event).

[2020-11-07 17:02] Matador2020 commented on #22
Great thanks

[2020-11-07 17:02] #22 closed

[2020-11-09 05:27] anoopmaddasseri opened #23 "Support for EPG channel page switching"
Hello @dzolnai,

Can we add support for the channel page switching with the channel up/down key? On TV remotes, increments/decrements the EPG channel. So if u see channels 1-5 now when u press channel down you should show channel 6-10.

- [KEYCODE_CHANNEL_UP](https://developer.android.com/reference/android/view/KeyEvent#KEYCODE_CHANNEL_UP)
- [KEYCODE_CHANNEL_DOWN](https://developer.android.com/ref

[2020-11-09 06:04] anoopmaddasseri commented on #23
@dzolnai https://developer.android.com/reference/android/app/Instrumentation#sendKeyDownUpSync(int)

[2020-11-13 13:08] dzolnai commented on #23
I have added this feature in my latest commit. It is turned **off** by default because I can imagine not everyone would like to have it. You can enable it like this:

[code]

[2020-11-13 13:08] #23 closed

[2020-12-02 21:28] arunoodles opened #24 "Only need to show yesterday, today and tomorrow shows in single scroll without any Filters of days."
Hi,

I hope you are doing well,

I'm using your EPG library but facing a problem in getting yesterday's data. I just commented on the filter part (setup filters method) because that is not needed in my project. I need only three days yesterday, today, and tomorrow data for programs with single scrolling only but unable to find the where to make a change in the program guide fragment. Can you pleas

[2020-12-03 06:57] dzolnai commented on #24
Hi Arun,

Attached you can find the patch file which changes the demo to do what you want.
Basically it does 3 things:

1. Hide the filters for day and time of day
2. Changes the manager that the cutoff time is extended +1 day in both directions
3. Changes the demo data so that it is filled for one extra day in both directions.

Hope that helps.

[3days-patch.txt](https://github.com/egeniq/android

[2020-12-03 10:06] arunoodles commented on #24
Hi Dzolnai,

Thanks for your support. It worked for me.

[2020-12-03 10:06] #24 closed

[2020-12-08 11:07] jiomedia commented on #4
Hello @dzolnai  can you please post any solutions like how to load program infomation lost asynchronously. As like we collect dont huge data set at one go. For every channel we hit API and take information load them accordingly.
Please help

[2020-12-08 11:13] vikrantThakur commented on #4
hello @dzolnai  i am using this library but the problem here is we need to load program information list asynchronously for each channel.
Is in the git repository example its showing whole data set of channels and program mapping given to epg at once.
I need to load data party and async.
Please help.

[2020-12-08 11:33] dzolnai commented on #4
Hi!
Next time please create a new issue for unrelated questions, no need to notify other people in this discussion.
You can only update the EPG with all the channels together. So you will have to wait for all of your calls to finish, and then bundle the data together.
You can use RxJava or coroutines for that, but that's out of the scope of this library.

[2020-12-23 08:04] duongtainhan opened #25 "Facing issue related timeline dimen"
Hello,
Thanks for this amazing library.
I want to change the distance between hours. I am facing the issue when changing "programguide_table_width_per_hour" in dimen values from 300dp to 80dp. I find that progress of some programs is not working properly with current time.
Can you guys tell me how can I fix this issue?
Thanks & Regards.
![screen](https://user-images.githubusercontent.com/40598538/

[2020-12-23 09:40] dzolnai commented on #25
Hi!
I tried to reproduce it myself, but for me it works correctly. Did you make any other changes beside reducing the dimension value to 80dp?
Did you test this on an emulator or real device? What Android version does this happen on?

[2020-12-23 10:02] duongtainhan commented on #25
- I changed "showNames" in EpgFragment:
val showNames = listOf("Second World War Documentary", "World Cup Final Replay", "NFL Sunday Night Football", "Who Wants To Be A Millionaire")
- And I just change dimension value to 80dp.
- I have tested on real device and emulator. Real Device: Sony Bravia 4K GB ATV3 (Android version 8.0.0) + emulator(Android TV 720p API 27)

[2020-12-23 10:03] duongtainhan commented on #25
The problem only happens when I change "showNames" in EpgFragment:
val showNames = listOf("Second World War Documentary", "World Cup Final Replay", "NFL Sunday Night Football", "Who Wants To Be A Millionaire")

[2020-12-23 11:36] dzolnai commented on #25
Thanks I can reproduce it, and will work on a fix.

[2020-12-23 13:02] dzolnai commented on #25
I have found the issue: if the program is too short, it will have a negative width, and that will mess up the entire row.
You can work around this by having a smaller `programguide_item_spacing`, and of course, by not having programs which are too short. The width is calculated by multiplying the length of the program with the `programguide_table_width_per_hour` dimension, and then subtracting the

[2020-12-24 02:50] duongtainhan commented on #25
Thank you very much for the useful information.
I will change `programguide_item_spacing` and `programguide_table_width_per_hour` appropriately so that no error occurs.
There is a dimension value I still do not understand is `programguide_minimum_item_width_sticking_out_behind_channel_column`.  Which view size will change when I change that dimension value?

[2020-12-24 07:27] duongtainhan opened #26 "Progress bars display the progress on non-broadcast time"
Hello @dzolnai,
I think this is a bug that appeared when I changed some parameters in the original demo.

- I changed `DAY_STARTS_AT_HOUR` to 0, `DAY_ENDS_NEXT_DAY_AT_HOUR` to 6.
- And I changed min, max length:
`val MIN_SHOW_LENGTH_SECONDS = TimeUnit.MINUTES.toSeconds(5)`
`val MAX_SHOW_LENGTH_SECONDS = TimeUnit.MINUTES.toSeconds(60)`

I have tested on real device and an emulator. Real Device: Son

[2020-12-28 09:52] dzolnai commented on #25
The dimension `programguide_minimum_item_width_sticking_out_behind_channel_column` is not one which is used to size widgets.
Instead, it is used on the focus search when the entire grid receives focus. That means, it will do a lookup based in the top row, and find the best program to highlight. Usually this would be the leftmost one, but there are some edge cases where the one on the left is almos

[2020-12-28 09:57] duongtainhan commented on #25
Thank You for Help and Support.
I appreciate your help.

[2020-12-28 09:57] #25 closed

[2020-12-28 10:01] dzolnai commented on #26
Hi, this is not a bug, but I could understand if somebody does not want those.
You can easily hide them with a one-line change in `ProgramGuideItemView.kt`.
See this patch file for how to do that:
[gap_no_progress.patch.txt](https://github.com/egeniq/android-tv-program-guide/files/5746746/gap_no_progress.patch.txt)

[2020-12-28 10:05] duongtainhan commented on #26
Hi, @dzolnai
Thank you so much! It helps a lot.

[2020-12-28 10:05] #26 closed

[2021-01-02 20:36] MatDah77 opened #27 "Not able to build release of library - constructor Handler()' is deprecated"
Hi,

many thanks for developing this library!
I'm trying to build a release version of the library but Android Studio say's the constructor of Handler is deprecated and refuses to compile. Although it works in debug... Not sure if I'm doing something wrong here... :)

Here's the error message from Android Studio:
w: C:\AndroidProjects\android-tv-program-guide-master\library\src\main\java\com\egeni

[2021-01-04 08:07] dzolnai commented on #27
Hi!

When I tried building a release version of the demo, I didn't get any error.
But anyways, I have ran Lint, and fixed all the bigger warnings. I also pushed this as a commit to master. Please check if you can build a release version now.

[2021-01-04 16:35] MatDah77 commented on #27
Thanks I really appreciate the help and the work you have done.
I'm now able to compile the release-build of the library, many thanks :)

[2021-01-04 16:35] #27 closed

[2021-01-06 21:01] MatDah77 opened #28 "Not able to call setState(State.Content) from Android TV java project"
Hi again,

I'm currently using the library from a Android TV project written in Java.
So far I'm able to show the ProgramGuideFragment inside my Android TV project and I'm now populating the channels and schedule. I believe I have to call setState(State.Content) in order to have the ProgramGuideFragment show the data (I'm also before this calling SetData)?
But it seems as if I'm not able to call s

[2021-01-07 07:28] dzolnai commented on #28
Hi!

Since sealed classes don't have a perfect match in Java, they translate to a class which has static instances for the objects, and static classes with constructors for the data classes. So this is how you can use `setState()` when calling it from Java:

    // Set content state
    setState(State.Content.INSTANCE);
    // Set error state
    setState(new State.Error("Error message"));
    //

[2021-01-08 04:30] duongtainhan opened #29 "Focus the specified program"
Hi,
I'm trying to focus the specified program from programId.
I get child view from recyclerView of `ProgramGuideRowGridView` and requestFocus it, but child view is null.

Can you tell me how can I focus the specified program?

[2021-01-08 07:17] duongtainhan commented on #29
I used `programGuideManager.jumpTo(currentProgram.startsAtMillis)`. It work for me.

[2021-01-08 07:17] #29 closed

[2021-01-09 22:14] MatDah77 commented on #28
Hi,

once again, many thanks for quick response and help.
I very much appreciate the help.

Kind regards
/Mattias

[2021-01-09 22:14] #28 closed

[2021-01-21 12:02] arunoodles opened #30 "The issue in getting the current channel name."
Hi,

I was not able to get the current channel name or channel position on the EPG fragment. Can you please help me resolve this issue?

[2021-01-21 12:08] dzolnai commented on #30
Hi! What do you mean with current? The channel the currently selected program belongs to?

[2021-01-21 12:15] arunoodles commented on #30
Yes, the current channels belong to the focused or selected program.

[2021-01-21 12:26] dzolnai commented on #30
You could easily extend the program to incorporate the channel ID, which you then use to retrieve the channel from the manager. See this patch file which extends the demo with the functionality, and prints the channel to logcat when your selection changes.
[channel_patch.txt](https://github.com/egeniq/android-tv-program-guide/files/5849220/channel_patch.txt)

[2021-01-21 14:20] arunoodles commented on #30
It is not working in my case, I did not get the channel name instead of I got Null value or Simple Channel Model String.

[2021-01-21 14:24] dzolnai commented on #30
I'm sorry, but the issue must be with your code. Either the channel name is wrong when retrieving from the manager, or you set it incorrectly on the schedule item.

[2021-01-21 14:34] arunoodles commented on #30
It resolved now, an idea from your patch text worked for me, Thanks a lot.

[2021-01-21 16:06] dzolnai commented on #30
Glad it worked!

[2021-01-21 16:06] #30 closed

[2021-03-09 08:43] duongtainhan opened #31 "Scroll the center Program Guide Grid when move from right to left"
Hi,

I'm looking for a way to scroll the center Program Guide Grid when move from right to left. Can you guys tell me how to do it?
Also there is a variable in `ProgramGuideGridView` I don't understand yet is `overlapStart` in line `it.overlapStart = it.resources.getDimensionPixelOffset(R.dimen.programguide_channel_column_width)`.  Can you explain to me what it is, please?

Thanks & Regards.

[2021-03-09 09:55] duongtainhan commented on #31
I want when scrolling, the focus item will be in the center of the recyclerView in grip view. Like this:
![snap_center](https://user-images.githubusercontent.com/40598538/110452579-e740e780-80f7-11eb-932b-a7a135b6862c.gif)

Thanks for the explanation for me to understand. It helps a lot.

[2021-03-09 09:58] duongtainhan commented on #31
I want when scrolling, the focus item will be in the center of recycler view. Like this:
![snap_center](https://user-images.githubusercontent.com/40598538/110453341-a72e3480-80f8-11eb-8c98-e09216d238e7.gif)

[2021-03-09 10:12] duongtainhan commented on #31
Thanks for the explanation for me to understand. It helps a lot.

[2021-03-09 10:13] duongtainhan commented on #31
I want when scrolling, the focus item will be in the center of recycler view. Like this:

https://user-images.githubusercontent.com/40598538/110455222-bf06b800-80fa-11eb-8c6a-3fb49f5b81e2.mp4

[2021-03-09 10:14] dzolnai commented on #31
I see, that is quite difficult to change, I do not have the time to do that.
You can try yourself, basically you need to change the `focusSearch(...)` method of `ProgramGuideRowGridView`, by calling scrollByTime at the correct time with the correct amount.

[2021-03-09 10:19] duongtainhan commented on #31
Thanks for the suggestion to me. I will try handling focusSearch.

[2021-03-09 10:19] #31 closed

[2021-05-06 13:36] psandroiddev opened #32 "Focus issue"
In my app there is toolbar at top so when I open the activity first time focus goes to the Search icon & then goes down to the particular current program with focus .But I want initially focus goes to current program not to the Search icon on toolbar.

[2021-05-06 13:40] dzolnai commented on #32
Did you try calling .requestFocus on the grid?

[2021-05-06 13:51] psandroiddev commented on #32
actual problem is on first time focus on the grid we are not getting any callback from library. like if we go to some other view and then come back to this program grid the focus is there but we cannot get any callback

[2021-05-06 13:56] dzolnai commented on #32
Isn't that because the grid is not showing any items yet because it is still loading? That might be your issue. You could check the load state, and if it is loaded, put focus on the grid. Until then, you can put an hidden view behind the grid and request focus on that.

[2021-05-06 13:57] psandroiddev commented on #32
Data is present and the grid is loaded

[2021-05-06 14:06] dzolnai commented on #32
When do you call requestFocus exactly? What is the trigger?

[2021-05-07 11:48] psandroiddev commented on #32
at first when data is loaded. Then just navigating using dpad back & forth into the programguidegrid view

[2021-05-07 16:54] dzolnai commented on #32
Yes, but how do you detect when data is loaded. You should not request immediately, because the RecyclerView needs to load its data, check for diffs, and create the views. Please try delaying the requestFocus with about 100-200ms, that should solve it.

[2021-05-14 13:21] dzolnai commented on #32
Closing since no response. Feel free to reopen if you have further comments.

[2021-05-14 13:21] #32 closed

[2021-07-18 11:14] shaoyangdl opened #33 "Support dynamically load epg list"
In some cases for iptv, server may not support getting all epg data in one request, the data is huge for iptv providers who provides a few thousands of channels. Instead, they support getting epg channel by channel. In our current solution, we have to set data in advance, can we have a function e.g.
` fun updateData(channelId: String, programList: List<ProgramGuideSchedule<T>>)`
 which only update

[2021-07-19 06:30] dzolnai commented on #33
Hello,
Sadly I do not have the time to implement such big features into the library.
I know that one of the contributors tried to implement something similar, but there were weird focus issues when the row was updated, the focus jumped to the top of the grid, so it is not as easy as it may look.
Anyways, if you are able to add this as a feature, I'm happy to review it and integrate it in the libra

[2021-08-02 12:37] shaoyangdl commented on #33
Thanks mate, I am implementing this and also found the focus issue. I am trying to find a solution. Unfortunately I don't have much time either, but will try to contribute to this. Cheers.

[2021-08-03 08:21] awesome1128 opened #34 "Hi @dzolnai"
You did a great job.
I can see , this code is built using Kotlin, but I am really not good at Kotlin.
Do you have the same code in Java?
Please let me know.
Thanks. Shang.

[2021-08-03 08:27] dzolnai commented on #34
Hi @awesome1128, no this library is only available in Java. Feel free to ask questions if you understand a part of the code.

[2021-08-03 17:53] awesome1128 commented on #34
What do you mean by "no this library is only available in Java"?
I asked, "Do you have the same code with Java?"
So you mean, you built this library with only Kotlin? No Java?

[2021-08-03 18:07] dzolnai commented on #34
Yes sorry I meant this library is only in Kotlin, I got mixed up.

[2021-08-03 18:13] awesome1128 commented on #34
Yeah, okay no problem.
Thank you for letting me know.

I have some questions.
1. Can I use your Kotlin library in my Java project?
2. If so, can I integrate your demo code(I mean, EpgFragment file) easily into my Java project? Do I need to replace only the channel lists? Or what should I do / configure to integrate?

Thank you again.

[2021-08-03 18:17] dzolnai commented on #34
1. Yes you can, but note that your Android app will include the Kotlin runtime in the apk, so its size will jump with a few 100 kilobytes. Usually this is not so significant.
2. Kotlin has the advantage that it can be included next to existing Java code. So there's not much extra configuration needed, although Android Studio might ask if you want to enable Kotlin support.
You should replace the ch

[2021-08-03 18:34] awesome1128 commented on #34
You're really kind. You did a great job. Actually, I love your library.
Thank you so much!

[2021-08-03 19:26] awesome1128 commented on #34
How can I get EPG content?
Do I need to get EPG content with live channels from providers? I am a bit confused.
Please let me know.
Thank you.

[2021-08-04 12:33] dzolnai commented on #34
Thanks for the kind words :)

You can read it with a permission, but then your tv needs access to those channels of course. So they would be visible in the default EPG of the TV as well.

I recommend that you check the original Android EPG code, the original code this library is based on. That one is written in Java, but uses the EPG of the TV as the source of its channels. You can find parts of t

[2021-08-25 16:32] dzolnai commented on #33
Closing because of inactivity. Feel free to reopen / create a new issue if you got any more questions.

[2021-08-25 16:32] #33 closed

[2021-08-25 16:33] dzolnai commented on #34
Closing because of inactivity

[2021-08-25 16:33] #34 closed

[2021-10-16 15:38] devnullpointer opened #35 "Error building demo app"
Hi, I just cloned the repo and loaded the project in Android Studio. When I try to run the demo I get the following error during build.

[code]

[2021-10-18 14:11] devnullpointer commented on #35
I'm using Arctic Fox. The project loads fine, its when I try to build and run the demo I get the error message stated above.

[2021-10-18 15:08] devnullpointer commented on #35
A clean and rebuild worked. Is the GUI customizeable?

[2022-07-16 10:02] alexanderadam opened #37 "Publishing on the official F-Droid repository"
Would you consider adding android-tv-program-guide to the official F-Droid repository?
This way people would see it and can get updates easily.

There's also [some documentation on what is allowed](https://f-droid.org/en/docs/) but I guess it should be fine as long there are no proprietary extensions.
It's possible to [create a RFP on the F-Droid GitLab repository](https://gitlab.com/fdroid/rfp/-/

[2022-07-18 08:59] dzolnai commented on #37
Hi!

I don't understand your request, this is a library, not an application you can use individually. It does contain a demo application, but that one shows dummy data, and would be of no use for regular users.

[2022-07-18 09:06] alexanderadam commented on #37
Ah okay, I wasn't aware of that.

[2022-07-18 09:06] #37 closed

[2022-08-27 03:53] hruship0099 opened #38 "Support for the program to be focused instead of scrolling and focusing"
Hi,
   Can we set the current program focused when ever we open the EPG without scrolling and focused.
jumpTo method is scrolling. For my project requirement, it should be focused without scrolling.

Thanks

[2022-09-05 08:27] hruship0099 opened #39 "Unable to focus short programs in EPG from autoScrollToBestProgram"
Hi,
  Omn opening of EPG When ever I try to focus the short program for a specific channel, focus is moving to next program.

Pl. help me in resolving this

[2022-09-05 08:36] dzolnai commented on #39
Hi, did you make any changes to the project, or is this with the demo?

[2022-09-05 11:13] hruship0099 commented on #39
@dzolnai It's happening with demo too. If current program is of shorter length, if you scroll to future program and on click of jump to live, current program is not focused. Instead program next to it is being focused.[Video ref](https://drive.google.com/file/d/1NlxePY7eF7HxwgzPweGPfp0LY2AZbo7I/view?usp=drivesdk)

[2022-09-08 08:10] hruship0099 commented on #39
@dzolnai Can you please update on this?

[2022-09-08 08:13] hruship0099 commented on #38
@johankool In the below video, you can find when you click on jumpToLive button grid is scrolling and focus is setting. Can we directly focus program instead of scrolling and setting focus.

[Video ref](https://drive.google.com/file/d/1NlxePY7eF7HxwgzPweGPfp0LY2AZbo7I/view?usp=drivesdk)

[2022-09-08 08:13] dzolnai commented on #39
@hruship0099 what device / emulator did this happen on?

[2022-09-08 08:15] dzolnai commented on #38
@hruship0099 do you mean that the timeline should jump immediately instead of visibly scroll?

[2022-09-08 08:25] hruship0099 commented on #38
Yes @dzolnai

[2022-09-08 08:27] hruship0099 commented on #39
@dzolnai I am using ZTE manufactured STB with Android 10 version

[2022-09-08 09:50] dzolnai commented on #38
Here's a diff file which achieves that, you can execute it on the latest version of the develop branch: `git apply dont_animate_jump_to_live.txt `.
I don't believe this should be a feature of the project (unless more people ask for it), but you can freely add it to your own fork.
[dont_animate_jump_to_live.txt](https://github.com/egeniq/android-tv-program-guide/files/9525762/dont_animate_jump_to_l

[2022-09-08 09:56] dzolnai commented on #39
@hruship0099 do I understand it correctly that the issue is that after clicking jump to live, it focuses the wrong program?

[2022-09-08 10:04] hruship0099 commented on #39
yes @dzolnai its focusing wrong program instead of current one.

[2022-09-08 10:09] hruship0099 commented on #38
@dzolnai thank you, I will check and revert.

[2022-09-08 10:45] ladamski1 opened #41 "Timeline broken when returning from other fragment"
Hello @dzolnai
I'm integrating your library with my application and I've found an issue with timeline row. It is reproducible in demo application.

In the method `EpgFragment.onScheduleClicked()` I'm opening a new fragment (it can be blank fragment) using this code:
[code]
It opens the new blank fragment (in my app this is fragment with asset details). Then I want to return to `EpgFragment` by pre

[2022-09-08 12:05] dzolnai commented on #39
Fixed by #40

[2022-09-08 12:44] hruship0099 commented on #39
@dzolnai Its working after the change. Thank you very much for your support and for your library.

[2022-09-08 12:44] #39 closed

[2022-09-08 12:44] hruship0099 commented on #38
@dzolnai Its working after the change. Thank you very much for your support and for your library.

[2022-09-08 12:44] #38 closed

[2022-09-14 09:17] ladamski1 commented on #41
Can you reproduce this issue? Have any ideas how to fix it?

[2022-09-14 13:48] dzolnai commented on #41
Hi @ladamski1, sorry for the late reply. This should be fixed on the main branch as of now, please let me know if you have any issues with it.

[2022-09-14 14:57] ladamski1 commented on #41
Thank you very much, now it's working great.

[2022-09-14 14:57] #41 closed

[2022-09-20 09:06] hruship0099 opened #43 "Support required in scrolling the program info when duration is long"
@dzolnai How can we achieve in scrolling the program info like in the below screenshot when duration is long. With just program title and time, its working fine. With images, content is not scrolling as expected. can you pl. help in achieving this

Thanks

![image](https://user-images.githubusercontent.com/8926002/191216123-73f54f10-2da8-4ba2-b7ad-3aa5a4fca683.png)

[2022-09-20 09:19] dzolnai commented on #43
Hello, if you could make a reproduction sample, I can take a look at it, but without the code it is hard for me to find the specific cause.

[2022-09-21 03:37] Durgesh-1992 opened #44 "Scrolling didnt works if I update the epg data with past or future program."
Hi , I checked you sample and when I feed the API data to it doesnt scrolls. Could you please let me know what all the key areas that I need to make changes to make it work. I followed @Upddating EPG issue link and made change but couldn't get through.

[2022-09-21 08:20] dzolnai commented on #44
Hello, can you make a reproduction sample for me?
I think you might have to need to request the focus on the grid.

[2022-09-21 09:57] Durgesh-1992 commented on #44
Hi, in current viewport, focus is there but when we reached to end program then it doesn't scrolls from either end. I checked the log when we reach the end we supply the scroll offset to shift the time in program manager which in turn calculate the difference from startUtcmili and fromUtcMili to get the difference offset. But the issue here is that when shifttime is called previousFromUtcmili and

[2022-09-21 09:59] dzolnai commented on #44
Can you make a video of the issue? It's hard to understand without seeing it

[2022-09-22 15:21] Durgesh-1992 commented on #44
Could you please tell me what should be the values for these variable.
  val timelineStartsAt =
                        selectedDate.atStartOfDay(timeZone)/*.minusDays(1)*/.withHour(DAY_STARTS_AT_HOUR)
                    val timelineEndsAt =
                        timelineStartsAt.plusDays(1).withHour(DAY_ENDS_NEXT_DAY_AT_HOUR).
Does these variable value need to constant or it should change when

[2022-09-23 13:11] Durgesh-1992 commented on #44
hi, it would be beneficial if you could add the code for pagination for past or future timeline date.

[2022-09-24 05:24] Durgesh-1992 commented on #44
Please find the video captured for same issue. First time when data is loaded it scroll between the current visible viewport/screen. But when paging call is made for past/future program data then after updating the gridview with data as well as timeline it doesn't scroll to either end.

https://user-images.githubusercontent.com/31557356/192081427-2f18b22e-c241-490a-bf74-5990cfc72ad5.mp4

Please lo

[2022-09-27 06:16] RalucaMariaT commented on #44
Hello, I want to add the same behavior, to load data in past and in future. @Durgesh-1992  can you please share your code changes for paging?

[2022-09-28 07:18] hruship0099 commented on #43
@dzolnai
We have a requirement of having multiple views inside a program card, like an image at the start & end of the program title.
So whenever a user navigates to past or future program cards, all the above mentioned views for a program should stay aligned to left & only cards should move back or forth.
As per library as there is only a textview(program title), this behavior is possible, but in

[2022-09-28 07:35] Durgesh-1992 commented on #44
@dzolnai I have resolved the previous scroll issue. But I met another issue, that the item width(program span)/time is crossing the timeline slot, let say we have a program that have time slot or duration between 6:00 - 6:30, so it should the program in this slot of time line but it exceed the end time by some minute so it ends at 6:45 - 7:00. Could you please explain me how the program item are g

[2022-09-28 07:38] Durgesh-1992 commented on #44
Thanks for reaching out. I am currently occupied with emergent stuff that need to taken care on priority. Will share the sample that I did in the sample provided by the @dzolnai once I have time.

[2022-09-30 13:48] hruship0099 commented on #43
@dzolnai can you please help on this as I am blocked.

[2022-10-02 11:48] Durgesh-1992 commented on #44
hi @dzolnai , can you please respond on this. I am really stuck on this.

[2022-10-03 07:02] dzolnai commented on #44
Hello @Durgesh-1992 , I was on my vacation last week, I'll try to arrange some time for this in the coming days. I'll get back to you with a more detailed reply then.

[2022-10-03 07:03] dzolnai commented on #43
Hello @hruship0099  , I was on my vacation last week, I'll try to arrange some time for this in the coming days. I'll get back to you with a more detailed reply then.

[2022-10-06 15:47] shailesh2208 opened #45 "Manage focus on Program view"
Hi, I am facing problem with manage focus in program view. When our program guide screen is going to start, I want default focus on current time program. When user scroll up and down, focus will move only current time program. This time when I launch the app the default program is selected either 1 or 2 hours later or earlier.

[2022-10-07 08:50] hruship0099 commented on #43
hello @dzolnai did you get a chance to look into this?

[2022-10-10 08:50] dzolnai commented on #43
@hruship0099 I got some time now. Can you share your code which is not working as expected?

[2022-10-10 08:51] dzolnai commented on #44
@Durgesh-1992 to me it seems that this is an issue with your views or alignment, because this does not seem to be an issue in the demo project.

[2022-10-10 08:52] dzolnai commented on #45
Hello @shailesh2208 is this reproducible in the demo project? Maybe you could try delaying the focus call until the data has loaded?

[2022-10-10 09:06] hruship0099 commented on #43
@dzolnai I need to move the entire layout elements instead of only text. How can I modify this method to support entire layout scroll

private fun layoutVisibleArea(leftOffset: Int, rightOffset: Int) {
        val width = schedule?.width ?: 0
        var leftPadding = max(0, leftOffset)
        var rightPadding = max(0, rightOffset)
        val minWidth = min(width, itemTextWidth + 2 * staticItemP

[2022-10-10 09:11] dzolnai commented on #43
You could replace `titleView` with a ViewGroup (such as FrameLayout, or ConstraintLayout). And then put the items in there.

[2022-10-10 10:23] hruship0099 commented on #43
@dzolnai after moving elements inside Relative layout, program container is not aligned properly. Also, its not scrolling. Pl. find the below video ref and code which I have tried
https://user-images.githubusercontent.com/8926002/194844626-94a9852d-e58b-4ca1-888e-97009e4ce62a.mp4

[programguide_item_program.txt](https://github.com/egeniq/android-tv-program-guide/files/9745123/programguide_item_pro

[2022-10-10 10:29] Durgesh-1992 commented on #44
Thanks @dzolnai for the reply. I have applied the logic that is there in demo app but result seems different. Could you please eleborate this condition "  lp.marginStart = rowHeaderOverlapping - lp.width / 2 - timelineAdjustmentPixels" for position 0 in timeline adapter. When I comment  "lp.width / 2" in above statement program item starts to get align with the timeline. Is there any specific reas

[2022-10-10 10:33] dzolnai commented on #44
The `lp.width / 2` Makes sure that it centre-aligned instead of left aligned. So that the center of the text is aligned exactly above where the hour starts.

[2022-10-12 11:03] hruship0099 commented on #43
@dzolnai pl. help me with the changes need to be done in the above code files.

[2022-10-15 17:35] shailesh2208 commented on #45
Hi, @dzolnai I can not see it in your demo project with demo data, but when I changed it with my custom large amount of data, it is happening. I did not made any changes in your demo code except using my own data. Can you guide me on which file we have to work to manage focus during first load and during down and up navigation??

[2022-10-17 06:28] dzolnai commented on #45
Focus during first load: ProgramGuideFragment.autoScrollToBestProgramme()
Focus during up and down navigation: ProgramGuideRowGridView.onRequestFocusInDescendants()

[2022-10-18 07:20] hruship0099 commented on #43
@dzolnai can you please suggest me the changes required in achieving scrolling for my layout.

[2022-10-18 07:54] Durgesh-1992 commented on #44
@dzolnai Thanks for reply. Currently the start time slot is getting somewhat hidden due to fade edge , that doesn't looks good , how can we align the starttime along the left edge. Could you please guide me on this.

[2022-10-21 09:19] MujammilAhamed commented on #43
I too face the same issue, can someone help to fix this

[2022-10-25 12:16] hruship0099 commented on #43
@dzolnai pl. update on the above.

[2022-10-26 18:15] shailesh2208 commented on #45
Hi, @dzolnai I am still facing problem on focus. I can observe that default focus of first channel is changing time to time at certain time of period. By default is selecting 2 hours later program after some time when I am opening the app, it is default selected 1.5 hours later program and its continues decrease to current till prev program  like halfour prev, one hour prev etc.

How can we fixed

[2022-11-18 06:07] Durgesh-1992 commented on #44
Hi @dzolnai Hope you are doing fine. There is one issue that I am facing , when we scroll channel up or channel down or scroll forward, back ward we get issue "Reason: Input dispatching timed out (Waiting to send key event because the focused window has not finished processing all of the input events that were previously delivered to it. Outbound queue length: 0. Wait queue length: 1.)". Heads Up